<div class="container">
    <h1>Budget Trackerrr</h1>
    <div class="budget-info">
      <p><strong>Monthly Budget:</strong> $<span id="monthly-budget">1000</span></p>
      <p><strong>Current Spending:</strong> $<span id="current-spending">250</span></p>
      <p><strong>Remaining Budget:</strong> $<span id="remaining-budget">750</span></p>
      <p>
        <strong>Remaining Budget Percentage:</strong>
        <span id="remaining-budget-percentage">75.00</span>%
      </p>
    </div>
  
    <div class="progress-bar-container">
      <div
        id="progress-bar"
        class="progress-bar"
        style="width: 75%; background-color: green;">
        75.00%
      </div>
    </div>
  </div>
  
  <script src="budget-tracker.js"></script>
  